
body{
    text-align: center;
    width: 100vw;
    margin: 0;
    font-family: sans-serif;
}
#top{
  text-align: left;
  background-color: #232323;
  font-size: 28pt;
  
  margin-bottom: 20px;
  width: 100vw;
  height: 47px;

}
#top > p{
  cursor: pointer;
  height: 40px;
  margin-left: 98.5px;
  color: white;
    
    
}
#box{
    background-color: #00303f;
    box-shadow: 5px 5px 20px;
    margin-left: 22%;
    margin-right: 22%;
    border-radius: 2%;
    letter-spacing: 2px;
    
}
h1{ 
    color: white;
    cursor: pointer;
    font-size: 35px;
}   

#box > p{
    text-align: center;
    margin-left: -140px;
    margin-top: -30px;
    text-decoration: underline;
    font-size: 18px;
    cursor: pointer;
}
.button {
    margin-top: 10px; 
    border-radius: 4px;
    background-color: #e14658;
    border: none;
    color: black;
    text-align: center;
    font-size: 20px;
    padding: 15px;
    width: 150px;
    transition: all 0.5s;
    cursor: pointer;
    margin: 7px;
    margin-top: 103px; 
    margin-left: -140px; 
    box-shadow: 2px 3px 5px; 
  }
  
  .button span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
    color: #00303f;
    font-weight: bold;
  }
  
  .button span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -15px;
    transition: 0.5s;
  }
  
  .button:hover span {
    padding-right: 15px;
  }
  
  .button:hover span:after {
    opacity: 1;
    right: 0;
  }

  .button2 {

    border-radius: 4px;
    background-color: #f2d388;
    border: none;
    color: black;
    text-align: center;
    font-size: 20px;
    padding: 15px;
    width: 150px;
    transition: all 0.5s;
    cursor: pointer;
    margin: 7px;
    margin-top: 15px; 
    margin-left: 262px;
    box-shadow: 2px 3px 5px;

  }
  
  .button2 span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
    color: #00303f;
    font-weight: bold;
  }
  
  .button2 span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -15px;
    transition: 0.5s;
  }
  
  .button2:hover span {
    padding-right: 15px;
  }
  
  .button2:hover span:after {
    opacity: 1;
    right: 0;
  }
  .button3 {

    border-radius: 4px;
    background-color: #e14658;
    border: none;
    color: black;
    text-align: center;
    font-size: 20px;
    padding: 15px;
    width: 200px;
    transition: all 0.5s;
    cursor: pointer;
    margin: 7px;
    margin-top: 15px; 
    
    box-shadow: 2px 3px 5px;

  }
  
  .button3 span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
    color: #11414f;
    font-weight: bold;
  }
  
  .button3 span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -15px;
    transition: 0.5s;
  }
  
  .button3:hover span {
    padding-right: 15px;
  }
  
  .button3:hover span:after {
    opacity: 1;
    right: 0;
  }
  #tab{
    color: white;
    background-color: #e14658;
    margin-bottom: 5px;
    line-height: 30px; 
    margin: auto 0; 
    
  }
  #tabright{
    color: white;
    text-align: center;
    font-size: 15pt
  }
  #tab2{
    color: white; 
  }
  #tableft{
    text-align: center;
    margin-left: -10px !important;
    color: white;
  }
  #leftbox{
    background-color: #11414f;  
    width: 350px;
    position: absolute; 
    display: block;
    left: 337.5px;
    box-shadow: 5px 5px 20px; 
  }
  #rightbox{

    background-color: #00303f;
    margin-bottom: 5px;
    width: 512px;
    position: absolute; 
    display: block;
    left: 686px;
    box-shadow: 5px 5px 20px; 
    
  }
  #label{
    color: white;
    font-size: 20px;
    font-weight: bold;
  }
  #plus{
  margin-bottom: -3px !important;
  margin-right: 3px !important;
  border-radius: 10%;
  width: 20px;

}

.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}
#test{
  display: none;
}
#test2{
  display: none;
}
#test3{
  display: none;
}
#test4{
  display: none;
}
#test5{
  display: none;
}
#test6{
  display: none;
}
#test7{
  display: none;
}
#test8{
  display: none;
}
#test9{
  display: none;
}
#test10{
  display: none;
}
#test11{
  display: none;
}
#test12{
  display: none;
}