body {
  font-family: sans-serif;
  margin: 0;
}

a:link {
  color: #efefef;
}

#categories a:link {
  color: black;
}

#categories a:visited{
  color: black;
}

a:visited{
  color: #efefef;
}

input[type=image]:hover{
  filter: drop-shadow(2px 2px 1px black);
}

input[type=image]:active {
  background-color: white;
}

.lobby:hover{
  border-bottom: 3px solid #e14658;
}

#categories input[type=button]:hover {
  filter: drop-shadow(2px 2px 1px black);
}

#categories input[type=button]:active {
  background-color: #00303f;
}

#categories span:hover {
  color: #66868f;
}

#topbar div a:hover {
  height: 45px;
  background-color: #e14658;
  border-radius: 5%;
}

#logo img {
  height: 45px;
  position: absolute;
  top: 0;
  left: calc(10vw - 57.795px);
  width: auto;
}

.newlink div:hover{
  filter: drop-shadow(2px 2px 1px black);
}

.namelink p:hover {
  border-bottom: 3px solid #e14658;
}

.maxWidth {
  width: 100vw;
}

.maxHeight{
  height: 100vh;
}

#slideshowdiv {
  background-color: #313131;
  text-align: center;
  height: 60vh;
  max-height: 600px;
  width: 100vw;
  float: right;
}

#slideshow {
  position: relative;
  height: 60vh;
  max-height: 600px;
  width: 100vw;
}

#slideshow > div {
  height: 60vh;
  max-height: 600px;
  width: auto;
  overflow-x: hidden;
  overflow-y: hidden;
}

#slideshow img {
  max-height: 600px;
  width: 100%;
  height: 100%;
}

#categories {
  position: relative;
  display: inline-flex;
  background-color: rgb(230, 228, 228);
  height: calc(45vh - 46px);
  width: 100vw;
  position: absolute;
  bottom: 0;
  right: 0;
}

#categories a span {
  position: absolute;
  text-decoration: underline;
  top: 10%;
  left: 5%;
  font-size: 18pt;
}

.catediv {
  margin: 6% auto 0;
  border-radius: 25%;
  text-decoration: none;
}

.cate {
  margin: 0 auto;
  border: 1px solid black;
  background-color: #11414f;
  font-size: 16pt;
  border-radius: 25%;
  text-align: center;
  width: 150px;
  height: 150px;
}

.icon {
  border-radius: 25%;
  margin-top: 20px;
  width: 100px;
  height: 100px;
}

.roomicon {
  border-radius: 25%;
  margin: 0 10.5%;
  width: 30px;
  height: 30px;
}

.namediv {
  margin-top: 7px;
}

.namelink {
  width: auto;
  text-decoration: none;
}

.sportname {
  margin-top: 10px;
  font-size: 16pt;
  font-weight: 500;
  text-align: center;
  color: black;
}

#topbar {
  background-color: #232323;
  height: 45px;
  border-bottom: 1px solid black;
}
#topbar span {
  line-height: 45px;
  color: white;
  font-size: 14pt;
  width: 80px;
}
#topbar > div {
  display: inline-flex;
  float: right;
  height: 40px;
  margin-right: 2%;
}
.topimg {
  margin: 0 2%;
  width: 45px;
  height: 45px;
}
#topbar div a {
  line-height: 0px;
  font-size: 18pt;
  text-decoration: none;
  margin-left: 7%;
}
#logoutLink {display: inline-flex;}
#profile {
  height: 90%;
  width: 90px;
  max-width: unset;
}

#searchbar {
  border: 2px solid black;
  background-color: #00303f;
  position: absolute;
  z-index: 500;
  top: 60%;
  left: 0;
  right: 0;
  height: 15%;
  width: 75%;
  margin: 0 auto;
}

label {
  font-size: 1em;
  color: #efefef;
  float: left;
}

.rightborder {
  border-right: 3px solid black;
}

#searchleftpadding {
  padding-left: 4%;
}

.forlabels {
  display: inline-block;
  width: 26%;
  height: 100%;
  padding-right: 1%;
  float: left;
  margin-left: 1%;
}

input[type=image] {
  outline: none;
  border: 2px solid black;
  background-color: #f2d388;
  position: absolute;
  border-radius: 20%;
  top: 15%;
  right: 3%;
  width: 6%;
  min-width: 20px;
  min-height: 20px;
  height: 70%;
}

input[type=text] {
  outline: none;
  color: #efefef;
  font-size: 18pt;
  font-style: italic;
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: 4px solid #f2d388;
  background-color: #00303f;
  height: 5vh;
  width: 100%;
}

.textform {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 25px;
  display: inline-flex;
  padding-bottom: 6px;
}

.textform input[type=text] {
  padding-left: 10px;
  height: 25px;
  border: none;
}

.textform input[type=image]{
  top: unset;
  width: 25px;
  height: 25px;
}

.textform input::placeholder {
  font-size: 12pt;
}

input::placeholder {
  color: #efefef;
  font-size: 18pt;
}

input[type=button] {
  outline: none;
  border: 1px solid black;
  font-size: 18pt;
  font-weight: bold;
  color: #efefef;
  background-color: #e14658;
  position: absolute;
  bottom: 90%;
  z-index: 500;
  left: 0;
  right: 0;
  height: 50px;
  width: 200px;
  margin: 0 auto;
}

.lobby {
  width: 20vw;
  display: inline-flex;
  background-color: #11414f;
  font-weight: bold;
  color: #efefef;
  margin-top: 10px;
  padding: 15px 0;
  font-size: 12pt;
  cursor: pointer;
}
